{
  "arrowParens": "avoid",
  "semi": true,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tabWidth": 4,
  "useTabs": true,
  "singleQuote": true
}
